.btn {
    border: 1px solid #636b6f;
    background-color: white ;

}
.error{
    color:red;
}

a {
    color: black;
}
.navbar-inverse .navbar-brand {
    color: #a4aaae;
    font-weight: 400;
}

.navbar-inverse .navbar-link {
    padding: 20px 15px;
    font-weight: 300;
    font-size: 15px;
    display: inline-block;
}

.navbar-inverse .navbar-link {
    color: #a4aaae;
}
